<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AirNative Mac</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>AirNative needs accessibility access to simulate keyboard and mouse input from your iPad</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024. All rights reserved.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>AirNative needs local network access to receive input from your iPad</string>
	<key>NSNearbyInteractionAllowOnceUsageDescription</key>
	<string>Allow AirNative to detect nearby iPads</string>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>AirNative uses Nearby Interaction to precisely locate and connect to your iPad</string>
	<key>Privacy - Accessibility Usage Description</key>
	<string>AirNative needs accessibility access to control your Mac's keyboard and trackpad from your iPad</string>
</dict>
</plist>
